<!--

This file will add the relevant pipelines for serialization and alter the commands for the sitecore UI

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <Serialization>
        <processor type="Sitecore.Serialization.JsonSerialization.LocationProcessor, Sitecore.Serialization" />
        <processor type="Sitecore.Serialization.JsonSerialization.JsonSerializationProcessor, Sitecore.Serialization" />
        <processor type="Sitecore.Serialization.JsonSerialization.JsonSerializationWriter, Sitecore.Serialization" />
      </Serialization>
      <Deserialization>
        <processor type="Sitecore.Serialization.JsonDeserialization.LocationProcessor, Sitecore.Serialization"/>
        <processor type="Sitecore.Serialization.JsonDeserialization.JsonDeserializationProcessor, Sitecore.Serialization"/>
      </Deserialization>
    </pipelines>

    <commands>
      <command patch:instead="*[@name='itemsync:dumpitem']" name="itemsync:dumpitem" type="Sitecore.Serialization.Commands.Json.SerializeItemCommand,Sitecore.Serialization"></command>
      <command patch:instead="*[@name='itemsync:dumptree']" name="itemsync:dumptree" type="Sitecore.Serialization.Commands.Json.SerializeTreeCommand,Sitecore.Serialization"></command>
      <command patch:instead="*[@name='itemsync:loaditem']" name="itemsync:loaditem" type="Sitecore.Serialization.Commands.Json.DeserializeItemCommand,Sitecore.Serialization"></command>
      <command patch:instead="*[@name='itemsync:loadtree']" name="itemsync:loadtree" type="Sitecore.Serialization.Commands.Json.DeserializeTreeCommand,Sitecore.Serialization"></command>
    </commands>
  </sitecore>
</configuration>